.profile-view-image-container {
  background-color: aquamarine;
  height: 220px;
}
.profile-view-image {
  padding-top: 20px;
  height: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin:auto;
  width: 50%;
  display: block;
}
